BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
//FREQUENCY PORT  "refclk" 100.000000 MHz ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE ;
LOCATE COMP "led" SITE "AG30" ;
LOCATE COMP "led1" SITE "AK29" ;
LOCATE COMP "led2" SITE "AK30" ;
LOCATE COMP "led3" SITE "AH32" ;
LOCATE COMP "led4" SITE "AG32" ;
LOCATE COMP "led5" SITE "AJ29" ;
LOCATE COMP "led6" SITE "AM28" ;
LOCATE COMP "led7" SITE "AM29" ;
